<div class="widget-toolbar">
    <div class="toolbar clear-fix">
        <div class="toolbar-button">
            {% include "sacrud/actions/create.jinja2" %}
            <div class="toolbar-button__item toolbar-button__item_type_delete">
                <div class="toolbar-button__item-name">{{ _ps('Delete') }}</div>
            </div>
        </div>
    </div>
</div>