{% extends "/sacrud/list.jinja2" %}

{% block body %}
    <form id="sacrud-form" class="sacrud-grid-content__left-inner" method="post" action="">
        <div class="widget widget_type_single">
            <div class="widget-title">
                {{ _(table.verbose_name or table.__tablename__) }}
            </div>
            <div class="widget-toolbar">
                <div class="toolbar clear-fix">
                    <div class="toolbar-button">
                        {% include "sacrud/actions/create.jinja2" %}
                        <div class="toolbar-button__item toolbar-button__item_type_delete">
                            <div class="toolbar-button__item-name">{{ _ps('Delete') }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <div class="widget-tree clear-fix">
                    <div id="tree" class="jq-tree"></div>
                </div>
            </div>
        </div>
        <input class="selected-action" type="hidden" value="0" name="selected_action" />
        <div class="widget-toolbar">
            <div class="toolbar clear-fix">
                <div class="toolbar-button">
                    {% include "sacrud/actions/create.jinja2" %}
                    <div class="toolbar-button__item toolbar-button__item_type_delete">
                        <div class="toolbar-button__item-name">{{ _ps('Delete') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <input class="selected-action" type="hidden" value="0" name="selected_action" />

    <ul class="jqtree-menu" id="treeContextMenu">
        <li class="jqtree-menu__item">
            <a href="#add" class="jqtree-menu__item-link">Add</a>
        </li>
        <li class="jqtree-menu__item">
            <a href="#edit" class="jqtree-menu__item-link">Edit</a>
        </li>
        <li class="jqtree-menu__item">
            <a href="#visible" class="jqtree-menu__item-link">Visible</a>
        </li>
        <li class="jqtree-menu__item">
            <a href="#delete" class="jqtree-menu__item-link">Delete</a>
        </li>
    </ul>
{% endblock %}

{% block extra_css %}
    {{ super() }}
    <link href="{{ request.static_url('ps_tree:static/css/__ps_tree.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
    {{ super() }}
    <script type="text/javascript">
        var DATA_URL = '{{ request.route_url('ps_tree_get_tree', tablename=table.__tablename__) }}';
        var MOVE_URL = '/ps_tree/{{ table.__tablename__ }}/move/';
    </script>
    <script src="{{ request.static_url('ps_tree:static/js/__ps_tree.js') }}"></script>
    <script src="{{ request.static_url('ps_tree:static/js/vendor/tree.jquery.js') }}"></script>
    <script src="{{ request.static_url('ps_tree:static/js/jqTreeContextMenu.js') }}"></script>
{% endblock %}
