.jq-tree {
  float: left;
  margin: 10px 0 20px 30px;
}

.jqtree-selected > .jqtree-element,
.jqtree-selected > .jqtree-element:hover {
  background: none !important;
}

.jqtree-selected > .jqtree-element .jqtree-title {
  background: #C6DAED;
}

.jqtree_common {
  margin-bottom: 0 !important;
}

.jqtree-element {
  padding: 0 0.5em 0 1em;
  display: inline-block;
  position: relative;
  margin: 0 0 0.5em 0 !important;
}

.jqtree-toggler {
  position: absolute;
  left: -1.2em;
  top: 0.35em;
  font: 0.8em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  color: #777 !important;
}

.jqtree-toggler:hover {
  color: #000 !important;
}

.jqtree-checkbox {
  left: 0;
  top: 0.4em;
  position: absolute;
  z-index: 100;
  padding: 1em;
  cursor: pointer;
}

.jqtree-checkbox:focus {
  outline: 0;
}

.jqtree-title {
  position: relative;
  font: 0.95em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  padding: 0.3em 0.5em;
  margin: 0 0 0 0 !important;
}

.jqtree-title:hover {
  background: #C6DAED;
}

.jqtree-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #ccc;
  display: none;
  z-index: 1000;
}

.jqtree-menu__item {
  padding: 0;
  margin: 0;
}

.jqtree-menu__item-link {
  padding: 0.5em 1.5em 0.6em 1.5em;
  display: block;
  font: 0.95em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.jqtree-menu__item-link:hover {
  background: #C6DAED;
}

ul.jqtree-tree span.jqtree-border {
  position: absolute;
  left: -0.5em !important;
  border: dashed 1px #777 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 1.7em !important;
  top: -0.2em !important;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  display: none !important;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: transparent !important;
  height: 1.7em !important;
  position: relative !important;
  left: 0.8em !important;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line:after {
  width: 80%;
  content: ' ';
  height: 1.4em;
  font: 0.95em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  display: inline-block;
  padding: 0.2em 0 0.3em 0;
  border: dashed 1px #777;
  text-align: center;
}

span.jqtree-dragging {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  padding: 0.4em 1.2em 0.5em 1.2em !important;
  font: 0.95em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  z-index: 10000;
}
ul.jqtree-tree {
  margin-left: 0;
}

ul.jqtree-tree,
ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-bottom: 0;
  padding: 0;
}

ul.jqtree-tree ul.jqtree_common {
  display: block;
  margin-left: 12px;
  margin-right: 0;
}

ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}

ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
  border-bottom: none;
  color: #333;
  text-decoration: none;
  margin-right: 0.5em;
  vertical-align: middle;
}

ul.jqtree-tree .jqtree-toggler:hover {
  color: #000;
  text-decoration: none;
}

ul.jqtree-tree .jqtree-element {
  cursor: pointer;
}

.jqtree-tree .jqtree-title {
  color: #1C4257;
  vertical-align: middle;
  margin-left: 1.5em;
}

.jqtree-tree .jqtree-title.jqtree-title-folder {
  margin-left: 0;
}

ul.jqtree-tree li.jqtree-folder {
  margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
  margin-bottom: 1px;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}

span.jqtree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  cursor: pointer;
  padding: 2px 8px;
}

ul.jqtree-tree li.jqtree-ghost {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  border: solid 2px #0000ff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  left: -6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* IE 6, 7, 8 */

@media \0screen\,screen\9 {
  ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    background: url("./../img/vendor/jqtree-circle.png") no-repeat;
    border: 0 none;
  }
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #0000ff;
  height: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  left: 2px;
  width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
  position: absolute;
  display: block;
  left: -2px;
  top: 0;
  border: solid 2px #0000ff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

ul.jqtree-tree .jqtree-element {
  position: relative;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background-color: #97BDD6;
  background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
  background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
  background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px #0000ff;
}
/*# sourceMappingURL=__ps_tree.css.map */